<!doctype html>
<html>
<head>
    <title>abstract syntax tree</title>

    <script src="../res/vis.min.js"></script>

    <style type="text/css">
        * {
            box-sizing: border-box;
        }

        body {
            padding: 0;
            margin: 0;
        }

        #app {
            position: fixed;
            z-index: 10;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: flex;
        }

        pre.code {
            background-color: #eee;
            font-family: monospace;
            padding: 40px 10px 10px;
            width: 100%;
            height: 100%;
            margin: 0;
            font-size: 17px;
            overflow-x: auto;
            overflow-y: auto;
        }

        #toggle-source-code {
            position: fixed;
            z-index: 20;
            top: 10px;
            left: 10px;
        }

        #source-code {
            width: 20%;
            min-width: 300px;
            border-right: 1px solid lightgray;
        }

        #ast {
            flex: 1;
        }
    </style>
</head>
<body>
    <div id="app">
        <div id="source-code">
            <pre class="code"><!--__SOURCE_CODE__--></pre>
        </div>
        <div id="ast"></div>
    </div>

    <button id="toggle-source-code">Hide source code</button>

    <script type="text/javascript">
        var __nodes = /**__NODES__**/0;
        var __edges = /**__EDGES__**/0;

        // create an array with nodes
        var visNodes = new vis.DataSet(__nodes);

        // create an array with edges
        var visEdges = new vis.DataSet(__edges);

        // create a network
        var container = document.getElementById('ast');
        var data = {
            nodes: visNodes,
            edges: visEdges
        };
        var options = {
            
            layout: {
                improvedLayout:true,
                hierarchical: {
                    sortMethod: 'directed',
                    direction: 'UD'
                }
            },
            edges: {
                smooth: true,
                arrows: {to : true}
            }
        };

        var network = new vis.Network(container, data, options);

        var $btn = document.querySelector('#toggle-source-code');
        $btn.onclick = function(e) {
            var $sc = document.querySelector('#source-code');

            if ($sc.style.display == 'none') {
                $sc.style.display = 'block';
                $btn.innerHTML = 'Hide source code';
            } else {
                $sc.style.display = 'none';
                $btn.innerHTML = 'Show source code';
            }
        }
    </script>
</body>
</html>
